*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100%;
    width: 100%;
    background-image: url("../allimages/blue_lake.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    height: 70%;
    width: 65%;
    top: 20px;
    border: 1px solid white;
    border-radius: 20px;
    background: white;
    padding: 8px;
    box-sizing: border-box; 
}
.box form h2{
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding-top: 15px;
}
.box form p{
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
    top: 2px;
}
.box form hr{
    top: 5px;
    color: gray;
}
.box form label{
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
}
.box form .input-txt{
    border: 0.5px solid black;
    border-radius: 3px;
    padding: 4px;
    width: 135px;
    margin: 8px;
    display: inline-block;  
}
.box form .input-imeil{
    border: 0.5px solid black;
    border-radius: 3px;
    padding: 4px;
    width: 160px;
    margin: 8px;
    display: inline-block;  
}
.box form .input-imeil input{
    outline: none;
    border: none;

}
.box form input[type=email]{
    width: 160px;
    outline: none;
    border: none;
}
::placeholder{
    color: black;
    font-size: 12px;

}
.box form input{
    border: 0;
    outline: none;
    width: 100%;

}
.box form .input-optn{
    border-radius: 3px;
    padding: 4px;
    width: 130px;
    margin: 8px;
    display: inline-block;
    text-align: centered;
    
}
.box form .data{
    border-radius: 3px;
    padding: 4px;
    width: 130px;
    margin: 8px;
    display: inline-block;
    text-align: centered;
    border: 1px solid black;
    
}
.box form datalist{
    outline: none;
    height: 25px;
    width: 130px;
    
    
}
.box form datalist option{
    background-color: gray;
    
}
/*.box form .input-txt i{
    float: right;
    position: absolute;
    margin-left: -18px;
}*/
.box form .txt p{
    font-size: 20px;
    
}
.box form .txt p a:link{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    color: green;
}
/*----------------a:hover, a:active, a:clicked---------*/
.box form .txt p a:hover{
    color: red;
    text-decoration: underline;
}
.box form .txt p a:active{
    color: yellow;
    background: transparent;
    text-decoration: underline;

}
.box form .txt p a:visited{
    color: pink;
    background: transparent;

}
.box form .term{
    border: 0.5px solid black;
    border-radius: 3px;
    padding: 4px;
    position: absolute;
    margin: 5px 20px;
    width: 200px;

}
.box form .term input{
    border: 0.5px solid black;
    border-radius: 3px;
    padding: 4px;
    margin: 5px; 
}
.box form .sub{
    padding: 4px;
    margin: 8px;
    text-align: left;
}
.box form .sub input{
    font-size: 18px;
    font-weight: 600;
    width: 100px;
    background-color: green;
    border-radius: 5px;
    padding: 5px;
    margin: 8px;

}